:host ::ng-deep .p-dialog-header {
    background-color: var(--blue-600)!important;
    color: #fff;
}
:host ::ng-deep .p-dialog-content {
    background-color: var(--blue-50);
}
:host ::ng-deep .panel-body a{
    cursor: pointer;
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: #fff;
}
ul > li{
    list-style: none;
}
:host ::ng-deep .p-card{
    box-shadow: none !important;
}