
:host ::ng-deep .p-dialog-header {
    background-color: var(--blue-600)!important;
    color: #fff;
}

:host ::ng-deep .p-dialog-content {
    background-color: var(--blue-50);
}

// :host ::ng-deep .p-button{
//     background-color: var(--blue-600);
//     border-color: var(--blue-600);
// }
// .information-card.p-card-content{
//     border-color: none;
// }
ul > li{
    list-style: none;
}

:host ::ng-deep .p-card{
    box-shadow: none !important;
}

// :host ::ng-deep .p-button{
//     background-color: var(--yellow-500)!important;
// }
