:host .p-fluid ::ng-deep .p-dialog-header {
    background-color: var(--blue-600)!important;
    color: #fff;
}
:host .p-fluid ::ng-deep .p-dialog-content {
    background-color: var(--blue-50);
    cursor: pointer;
}
:host .p-fluid ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: #fff;
}
ul > li{
    list-style: none;
}
span > i{
    font-size: 1.5rem;
}
p{
    line-height: 1rem;
}
:host .p-fluid ::ng-deep .p-card{
    box-shadow: none !important;
}