<div class="wrap flex flex-column" >
    <div class="header flex justify-content-between p-4 scalein  animation-duration-1000 animation-iteration-1">
        <div class="logo">
            <img src="assets/images/logo-2.png" width="50px" alt="" srcset="">
            <span class="ml-2 title">breast-expert</span>
        </div>
        <div><img src="assets/images/logo-breast-expert.png" width="100px" alt="" srcset="" (click)="scroll()"></div>
        <div class="action">

            <button pButton pRipple type="button" label="Đăng nhập" class="p-button-outlined btn-login" routerLink="/login"></button>
        </div>
    </div>
    <div class="content flex flex-1">
        <div class="left fadeinleft animation-duration-1000 animation-iteration-1">
            <img src="assets/images/mammo.png" class="img-mammo" alt="" srcset="">
            <div class="title">BREAST-EXPERT <span class="highlight">MAMMO</span></div>
            <button pButton pRipple type="button" label="Truy cập" class="p-button-outlined btn-mammo"></button>
        </div>
        <div class="right fadeinright animation-duration-1000 animation-iteration-1">
            <img src="assets/images/dps.png" alt="" class="img-dps" srcset="">
            <div class="title">BREAST-EXPERT <span class="highlight">PATHOLOGY</span></div>
            <button pButton pRipple type="button" label="Truy cập" class="p-button-outlined btn-dps"></button>
        </div>
    </div>


</div>
<div class="footer" id="footer">
    <h3 class="text-1">Giới thiệu hệ thống BREAST-EXPERT</h3>
    <div class="w-100 flex justify-content-center">
        <div style="width: 80%;">
        <div class="text-2 text-left ">
            Hệ thống Breast-Expert là sản phẩm của đề tài khoa học công nghệ cấp nhà nước KC4.0-18/19-25, theo Quyết
            định
            số 3237/QĐ-BKHCN ngày 24 tháng 11 năm 2020 của Bộ trưởng Bộ Khoa học và Công nghệ.
        </div>
        <div class="text-2 text-left mt-2">
            <div>
                Tên đề tài: <span class="main-font-bold">
                    Nghiên cứu xây dựng hệ thống thông minh hỗ trợ chẩn đoán ung thư vú dựa trên hình ảnh X-quang tuyến
                    vú
                    và ảnh giải phẫu bệnh</span>
            </div>

            <div>
                Mã số: <span class="main-font-bold">KC4.0-18/19-25</span>
            </div>
            <div>
                Chủ nhiệm đề tài: <span class="main-font-bold">TS.BS Đào Văn Tú</span>
            </div>
            <div>Đơn vị chủ trì:
                <span class="main-font-bold">Viện Nghiên cứu phòng chống ung thư – Bệnh viện K</span>
            </div>
        </div>
        </div>
    </div>
    <div class="footer-image">
        <img src="assets/images/bvk.png" alt="" srcset="">
        <img src="assets/images/logo-breast-expert.png" alt="" srcset="" class="ml-6">
    </div>
</div>
