$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Code Highlight */
@import "../node_modules/prismjs/themes/prism-coy.css";

:root{
    --bg-1:#3F383F;
}

.field {
    position: relative;
    margin-bottom: 1.5rem;
}
$color-1: #5F00DD;
$color-2: #DA00DA;

.m-error {
    position: absolute;
    bottom: -1.5rem;
    min-height: 18px;
    font-size: 0.875rem;
    color: var(--red-600);
}

.border-round-4xl {
    border-radius: 2.5rem;
}

.float-right {
    float: right;
}

.custom-disable {
    background-color: #f5f5f5 !important;
    color: #808080 !important;
    cursor: not-allowed !important;
}

.fs-status-admin {
    font-size: 1.1rem
}

@font-face {
    font-family: 'main-font';
    src: url('assets/font/Inter-Regular.ttf')
}

@font-face {
    font-family: 'main-font-bold';
    src: url('/assets/font/Inter-Bold.ttf')
}

body {
    font-family: 'main-font', sans-serif;
    color: white;
}
input{
    background: #281328 !important;
    border-color: #281328 !important;
}
.main-font-bold {
    font-family: main-font-bold
}

::-webkit-scrollbar {
    display: none;
}


// @import "./custom-scss/styles-custom-resolution.scss";
// @import "./custom-scss/custom-class.scss";
