<div class="grid">
  <div class="col-12 p-0">
    <div class="card admin-content m-0">
      <p-breadcrumb [model]="breadcrumbItem" [home]="breadcrumbHome" styleClass="breadcrumb-admin"></p-breadcrumb>

      <div class="my-2 flex justify-content-between flex-wrap">
        <span class="block p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Tìm kiếm ..." class="inline-block lg:w-17rem sm:w-auto p-inputtext-sm" [(ngModel)]="searchData.keyword" (keydown.enter)="search()" />
          <button pButton pRipple icon="pi pi-search" class="p-button-primary mr-2 ml-2 p-button-sm" (click)="search()"></button>
          <button pButton pRipple icon="pi pi-times" class="p-button-secondary p-button-sm" (click)="resetSearch()"></button>
        </span>
        <div class="flex justify-content-end flex-wrap">
          <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success p-button-sm" (click)="onCreateItem()"></button>
        </div>
      </div>

      <m-table [isLazyLoad]="true" [cols]="cols" [items]="departments" (selectRow)="selectItem($event)" [customHeaderTemplate]="customHeaderTemplate" [customBodyTemplate]="customBodyTemplate" (onEditItem)="onEditItem($event)" (onDeleteItem)="onDeleteItem($event)" [calcHeight]="284" [totalRecords]="total" [take]="searchData.take" (onPageChange)="onPageChange($event)" [dataKey]="'id'" [loading]="loading"> </m-table>

      <ng-template #customHeaderTemplate>
        <th *ngFor="let col of cols; let i = index" [style.minWidth]="col['width'] || '12rem'">
          {{ col['header'] }}
        </th>
        <th [style.minWidth]="'6rem'" pFrozenColumn alignFrozen="right"></th>
      </ng-template>

      <ng-template #customBodyTemplate let-rowData>
        <td [style.minWidth]="col.width" *ngFor="let col of cols" [ngClass]="{ 'justify-content-center': col.field === 'status' }">
          <ng-container class="justify-content-center" *ngIf="col.field === 'status'">
            <i *ngIf="rowData[col.field]; else noStatus" class="pi pi-check" [style.color]="'var(--green-400)'"></i>
            <ng-template #noStatus>
              <i class="pi pi-ban" [style.color]="'var(--red-400)'"></i>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="col.field !== 'status'">
            {{ rowData[col.field] }}
          </ng-container>
        </td>
        <td [style.minWidth]="'6rem'" class="text-center flex justify-content-center" pFrozenColumn alignFrozen="right">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-xs mr-2" (click)="onEditItem(rowData)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-button-xs" (click)="onDeleteItem(rowData)"></button>
        </td>
      </ng-template>
    </div>

    <p-dialog [(visible)]="isVisibleDepartmentDialog" [style]="{ width: '450px' }" [header]="departmentHeaderDialog" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <form [formGroup]="departmentForm">
          <div class="field">
            <label for="name">Tên chuyên khoa<span class="text-red-500">*</span></label>
            <input type="text" placeholder="Tên chuyên khoa" pInputText id="name" formControlName="name" required autofocus />
            <div class="m-error" *ngIf="departmentForm.controls['name'].invalid && departmentForm.controls['name'].dirty">*Tên chuyên khoa không được để trống</div>
          </div>
          <div class="field">
            <label for="description">Mô tả</label>
            <textarea id="description" placeholder="Mô tả" pInputText formControlName="description" rows="3"></textarea>
          </div>
          <div class="field flex align-items-center">
            <label for="status">Trạng thái</label>
            <p-inputSwitch class="ml-3" [(ngModel)]="checked" formControlName="status"></p-inputSwitch>
          </div>
        </form>
      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text text-red-600" (click)="isVisibleDepartmentDialog = false"></button>
        <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
<confirm-dialog [(visible)]="isVisibleDeleteItemDialog" [confirmText]="textConfirmDelete" (onConfirm)="deleteDepartment()"></confirm-dialog>
