@import './custom-color.scss';

.text-title-table{
    color: $color-blue-1 !important;
}
.text-error{
    color: $color-red-1 !important;
}

.custom-span-log-type {
    display: inline-block;
    width: 180px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
    letter-spacing: .3px;
}

.log-type-span-1{
    background: #d4ecd5;
    color: #2a602c;
}

.log-type-span-6{
    background: #fef0cd;
    color: #8a6a19;
}

.log-type-span-11{
    background: #cae6fc;
    color: #125386;
}

.log-type-span-12{
    background: #DDA0DD;
    color: #800080;
}

.log-type-span-41{
    background: #fef0cd;
    color: #8a6a19;
}

.log-type-span-42{
    background: #ffada7;
    color: #8c231c;
}

.log-type-span-31{
    background: #f9ae61;
    color: #874400;
}

.log-type-span-32{
    background: #fde0c2;
    color: #874400;
}

.log-type-span-5{
    background: #c2e6e2;
    color: #00534b;
}

.log-type-span-33{
    background: #d4ecd5;
    color: #2a602c;
}

.log-type-span-3{
    background: #fef0cd;
    color: #8a6a19;
}

.log-type-span-4{
    background: #c2eff5;
    color: #006775;
}

.log-type-span-15{
    background: #b0ebe5;
    color: #0e9b8a;
}
